<nav class="navbar navbar-fixed-top navbar-inverse affix-top">
  <div class="container-fluid">
    <div class="navbar-header navbar-left">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Reminders</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar">
        <li><a [routerLink]="['/todolist']">To-Do Lists</a></li>
        <!-- <li><a [routerLink]="['/Timeline']">Timeline</a></li> -->
        <!-- <li><a [routerLink]="['/Contact']">Contact</a></li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="route-container">
  <router-outlet></router-outlet>
</div>
