.card{
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
p{
  margin: 0px 0px 0px 0px;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn{
  float: right;
  margin-left: 2px;
  margin-right: 2px;
}
.row{
  margin: 0px 0px 0px 0px;
}
input{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid gray;
  margin-top: 2px;
  margin-bottom: 2px;
}
.name{
  font-size: 25px;
}
.taskName{
  font-size: 18px;
}
.ui-datepicker{
  width: 19em;
}
.add-btn{
  float: right;
}
.inputname{
  font-size: 25px;
}
