<div>
  <div class="row">
    <button type="button" *ngIf="!showAddForm" (click)="showAddForm=!showAddForm" class="add-btn btn btn-secondary btn-sm">Add ToDo-List</button>
    <div class="card" *ngIf="showAddForm">
      <div class="row">
        <input [(ngModel)]="newToDo.Name" placeholder="ToDo-List Name">
        <div class="add-btn">
          <button type="button" class="btn btn-default btn-success glyphicon glyphicon-ok" (click)="submitForm()"></button>
          <button type="button" class="btn btn-default btn-danger glyphicon glyphicon-remove" (click)="clearForm()"></button>
        </div>
      </div>
      <hr>
      <div class="row">
        <button type="button" *ngIf="!showTaskForm" (click)="showTaskFormFunc()" class="add-btn btn btn-secondary btn-sm">Add New Task</button>
        <div *ngIf="showTaskForm">
          <div class="add-btn">
            <button type="button" class="btn btn-default btn-success glyphicon glyphicon-ok" (click)="submitTaskForm()"></button>
            <button type="button" class="btn btn-default btn-danger glyphicon glyphicon-remove" (click)="clearTaskForm()"></button>
          </div>
          <div>
            <input [(ngModel)]="newTask.Name" placeholder="Task Name">
            <textarea rows="2" name="note" style="width: 90%" placeholder="Task Note" [(ngModel)]="newTask.Note"></textarea>
            <label>Due Date:</label><p-calendar [(ngModel)]="newTask.DueDate" showTime="showTime" hourFormat="12"></p-calendar>
            <label>Reminder:</label><p-calendar [(ngModel)]="newTask.RemindDate" showTime="showTime" hourFormat="12"></p-calendar>
          </div>
        </div>
      </div>
      <div>
        <p></p>
      </div>
    </div>
  </div>
  <br>
  <div class="card" *ngFor="let todo of todoLists">
    <h3>{{todo.Name}}</h3>
    <hr>
    <div *ngFor="let task of todo.Tasks">
      <p>{{task.Name}}</p>
    </div>
  </div>
</div>
